 <!-- About Section -->
    <section class="success" id="over-Studio-Hamerkanaal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Over Ons</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="page-scroll">Wij nemen stemmen op. Mooie stemmen, warme stemmen, aparte, harde, zachte, karakteristieke, <a href="#voice-over-werk" onclick="document.getElementById('player').play()">alle soorten</a> stemmen... en we doen het goed. Zoek je een stem of voice-over voor je commercial, bedrijfsfilm, audiotour, presentatie of een andere productie? Neem <a href="#contactgegevens-Studio-Hamerkanaal">contact</a> met ons op... wij helpen je graag verder. </p>
                </div>
                <div class="col-lg-4">
                    <p>Wij bieden:<br>- Passende <b>stemmen</b> en <b>voiceovers</b> uit onze enorme stemmenbank<br>- High-end <b>opnames</b> en <b>audio nabewerking</b> vanuit onze prachtige studio's<br>- Een fijne samenwerking waarbij niet alleen technisch, maar ook inhoudelijk wordt meegedacht</p>
                </div>
            </div>
        </div>
    </section>