 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over Ons</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Wij nemen stemmen op. Mooie stemmen, lelijke stemmen, harde, zachte, karakteristieke, alle soorten stemmen... en we doen het goed. Zoek je een stem voor je commercial, bedrijfsfilm, audiotour, presentatie of wat dan ook? Neem contact met ons op... wij helpen je verder. </p>
                </div>
                <div class="col-lg-4">
                    <p>Wij bieden:<br>- Passende stemmen uit onze enorme stemmenbank<br>- High-end opnames vanuit onze prachtige studio<br>- Een fijne persoonlijke samenwerking waarbij ook inhoudelijk wordt meegdacht</p>
                </div>
            </div>
        </div>
    </section>