<!-- Contact Section -->
   <section id="socialposts">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Blog</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                 <div id="socialposts">              
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '3193242817',
        accessToken: 'YOUR_ACCESS_TOKEN'
    });
    userFeed.run();
</script>
      

      
                 </div>
               </div>
           </div>
       </div>
   </section>
