    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="Voiceover Studio Hamerkanaal Logo">
                    <div class="intro-text">
                        <br><br><span class="skills"><strong>{{ site.skills }}</strong></span>
						<br><br><span class="products">- wij leveren spreker, opname en mix voor uw reclames, audiotours, apps of bedrijfsfilms. - <br> <a href="#player" onclick="document.getElementById('player').play()"><b>Dat klinkt zo! </b><i class="fa fa-volume-on" aria-hidden="true"></a></i>
</span>
                    </div>
                </div>
            </div>
        </div>
    </header>