<head>
    <meta charset="utf-8">
	<meta name="language" content="nl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Studio Hamerkanaal | Voiceovers | Stemmen | Postproductie</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="voiceover, stemmen, sprekers, opnemen, opnamestudio, Hamerkanaal, Amsterdam">
    {% if site.meta_author %}<meta name="author" content="{{ site.meta_author }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" }}">

    <!-- Google verification -->
    {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}

    <!-- Bing Verification -->
    {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" }}">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#4b4b4b">
    
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Studio Hamerkanaal | Voiceovers | Stemmen | Postproductie">
<meta itemprop="description" content="Studio Hamerkanaal Amsterdam. Voiceover, sprekers en audio nabewerking. Specialist in opnames van voiceovers, leveren van stemmen en audio postproductie.">
<meta itemprop="image" content="https://hamerkanaal.nl/img/profile.png"> 

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="https://hamerkanaal.nl">
<meta name="twitter:title" content="Studio Hamerkanaal | Voiceovers | Stemmen | Postproductie">
<meta name="twitter:description" content="Studio Hamerkanaal Amsterdam. Voiceover, sprekers en audio nabewerking. Specialist in opnames van voiceovers, leveren van stemmen en audio postproductie.">
<meta name="twitter:image:src" content="https://hamerkanaal.nl/img/profile.png">

<!-- Open Graph data FB -->
<meta property="og:title" content="Studio Hamerkanaal Website">
<meta property="og:site_name" content="Studio Hamerkanaal">
<meta property="og:image" content="https://hamerkanaal.nl-img/profile.png">
<meta property="og:url" content="https://hamerkanaal.nl">
<meta property="og:description" content="Studio Hamerkanaal in Amsterdam. Voor voiceovers, stemmen en audio postproductie. High-end opnames vanuit onze prachtige studio's, een goede sfeer en een enorme stemmenbank. Zoek je een goede voiceover? Welkom bij studio Hamerkanaal! ">
<meta property="fb:app_id" content="1535323720108945">
<meta property="og:type" content="website">

    <!-- Microdata Schema.org -->
<script type="application/ld+json">
    {
    "@context": "http://schema.org/",
    "@type": "LocalBusiness",
    "additionalType": "http://www.productontology.org/id/Recording_studio",
    "@id": "https://hamerkanaal.nl",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "Amsterdam",
    "postalCode":"1021KM",
    "addressCountry": "NL",
    "streetAddress": "Gedempt Hamerkanaal 12"
    },
    "description": "Studio Hamerkanaal, opnamestudio voor voice overs, sprekers en audio postproductie.",
    "name": "Studio Hamerkanaal",
    "telephone": "020 632 6544",
    "url": "https://hamerkanaal.nl",
    "email": "info@hamerkanaal.nl",
    "geo": {
    "@type": "GeoCoordinates",
    "latitude": "52.3858717",
    "longitude": "4.9240048,17"},
    "logo": "https://hamerkanaal.nl/img/profile.png",
    "sameAs" : [ "http://www.facebook.com/hamerkanaal",
    "http://www.instagram.com/hamerkanaal"]
    }
    </script>
    <!-- Google Analytics Tracker -->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77565729-1', 'auto');
  ga('send', 'pageview');

    </script>



</head>
