    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="Voiceover Studio Hamerkanaal Logo">
                    <div class="intro-text">
                        <br><br><span class="skills"><strong>{{ site.skills }}</strong></span>
						<br><br><span class="products">- we leveren sprekers voor uw reclames, audiotours, apps of bedrijfsfilms -</span>
                    </div>
                </div>
            </div>
        </div>
    </header>