    <!-- Header -->
    <header>
        <h1 class="v-h">Studio Hamerkanaal logo en onze skills</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="Hamerkanaal Logo">
                    <div class="intro-text">
                        <br><br><span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>