<!-- Contact Section -->
   <section id="Blog">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Blog</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
<div id="instafeed">
</div>
<script src="https://hamerkanaal.nl/js/instafeed.min.js"></script>
<script type="text/javascript">
  var userFeed = new Instafeed({
    get: 'user',
    userId: '3193242817',
    clientId: '73756ace6587463c82d917ca1c663f4d',
    accessToken: '3193242817.73756ac.3974f71d1e9040d48b726b61372498aa',
    resolution: 'standard_resolution',
    template: {% raw %}'<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /></a>'{% endraw %},
    sortBy: 'most-recent',
    limit: 4,
    links: false
  });
  userFeed.run();
</script>
   

      
                 </div>
               </div>
           </div>
   </section>
