
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ons Werk</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>We hebben de afgelopen jaren voor vele soorten opdrachtgevers gewerkt. Een ding hebben ze gemeen. Ze wilden allemaal een stem passend bij hun product. We namen op voor commercials, trainingsvideo's, apps, bedrijfspresentatie's, audiotours en nog vele andere projecten. </p><img class="img-responsive" src="http://hamerkanaal.nl/img/logos_hk.png" alt="logo's opdrachtgevers"> 
            </div>
    </section>