
    <!-- Portfolio Grid Section -->
    <section id="voice-over-werk">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Ons Werk</h1>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>We hebben de afgelopen jaren voor vele soorten opdrachtgevers gewerkt. Eén ding hebben zij gemeen. Ze willen allemaal de perfecte stem die past bij hun productie. We namen voiceovers op voor commercials, trainingsvideo's, apps, bedrijfspresentatie's, audiotours en nog vele andere projecten. Hieronder staan een paar van onze opdrachtgevers.</p><img class="img-responsive" src="https://hamerkanaal.nl/img/logos_hk.png" alt="logo's opdrachtgevers van stem en voiceover werk van Studio Hamerkanaal"> 
            <div><p>Luister <a href="player" onclick="document.getElementById('player').play()">hier</a> naar onze reel.</p><audio id="player" src="Studio_Hamerkanaal_Reel.mp3" controls="controls">
Uw browser ondersteunt helaas niet deze audio-speler.
</audio>
			</div>
			</div>
        </div>
    </section>