<!-- Contact Section -->
   <section id="socialposts">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Social Posts</h2>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                 <div id="socialposts">
                   

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: '73756ace6587463c82d917ca1c663f4d',
        filter: function(image) {
            return image.tags.indexOf('studiohamerkanaal') >= 0;
        }
    });
    feed.run();
</script>

      
                 </div>
               </div>
           </div>
       </div>
   </section>
